/*************************************************************
 * Background Colours 
 *************************************************************/
.grow-bg-brown-gradient {
  background: #ee0979;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #ee0979, #ff6a00);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #ee0979, #ff6a00);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

.grow-bg-light-grey {
  background-color: #C0C0C0; }

/*************************************************************
 * Padding for Rows 
 *************************************************************/
.grow-row-padding {
  padding-top: 150px;
  padding-bottom: 150px; }

/*************************************************************
 * Navbar Customisation
 * http://codeconflux.com/2016/05/20/jquery-css-navbar-menu-color-change-on-scroll/
 *************************************************************/
.navbar.bg-transparent-dark {
  background: rgba(0, 0, 0, 0.7);
  transition: 0.4s all linear; }

/*************************************************************
 * HTML and body Set height and width 
 *************************************************************
html,
body {
  height: 100%;
  width: 100%;
}

/

/*************************************************************
 * Equal Heights Fix 
 * Source: http://www.bootply.com/126437
 *************************************************************
.row-flex, .row-flex > div[class*='col-'] {  
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex:1 1 auto;
}

.row-flex-wrap {
	-webkit-flex-flow: row wrap;
    align-content: flex-start;
    flex:0;
}

.row-flex > div[class*='col-'], .container-flex > div[class*='col-'] {
	 margin:-.2px; 
   //hack adjust for wrapping
}

.container-flex > div[class*='col-'] div,.row-flex > div[class*='col-'] div {
	width:100%;
}


.flex-col {
    display: flex;
    display: -webkit-flex;
    flex: 1 100%;
	flex-flow: column nowrap;
}

.flex-grow {
	display: flex;
    -webkit-flex: 2;
    flex: 2;
}

/*



/*************************************************************
 *  Grow Home Page: Working Papers Section
 *************************************************************/
.grow-working-papers-section {
  background-color: #bdd5ea;
  padding-top: 100px;
  padding-bottom: 100px; }

.grow-working-papers-section h2 {
  font-size: 400%; }

/*************************************************************
 * Grow Hero Jumbotron 
 *************************************************************/
.grow-hero-jumbotron {
  min-height: 100vh;
  color: #fff;
  position: relative;
  background: url("/grow.research.series/images/home/hero/hero.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
