/*************************************************************
 * Cards Stuff
 * http://codepen.io/alexdevero/pen/JYpMEO
 * https://blog.alexdevero.com/mastering-card-design-with-bootstrap-4/
 *************************************************************/
a {
  transition: .25s all; }

.card {
  overflow: hidden;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: .25s box-shadow; }
  .card:focus, .card:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }

.card-inverse .card-img-overlay {
  background-color: rgba(51, 51, 51, 0.85);
  border-color: rgba(51, 51, 51, 0.85); }

/*************************************************************
 * Navbar Customisation
 * http://codeconflux.com/2016/05/20/jquery-css-navbar-menu-color-change-on-scroll/
 *************************************************************/
/*.navbar {
  background: transparent;
  border: none;
  transition: 0.2s all linear;	
}

.navbar.change-color {
  background-color: #fff;
}*/
/*************************************************************
 * HTML and body Set height and width 
 *************************************************************
html,
body {
  height: 100%;
  width: 100%;
}

/

/*************************************************************
 * Equal Heights Fix 
 * Source: http://www.bootply.com/126437
 *************************************************************
.row-flex, .row-flex > div[class*='col-'] {  
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex:1 1 auto;
}

.row-flex-wrap {
	-webkit-flex-flow: row wrap;
    align-content: flex-start;
    flex:0;
}

.row-flex > div[class*='col-'], .container-flex > div[class*='col-'] {
	 margin:-.2px; 
   //hack adjust for wrapping
}

.container-flex > div[class*='col-'] div,.row-flex > div[class*='col-'] div {
	width:100%;
}


.flex-col {
    display: flex;
    display: -webkit-flex;
    flex: 1 100%;
	flex-flow: column nowrap;
}

.flex-grow {
	display: flex;
    -webkit-flex: 2;
    flex: 2;
}

/*



/*************************************************************
 *  Grow Home Page: Working Papers Section
 *************************************************************/
.grow-working-papers-section {
  background-color: #bdd5ea;
  padding-top: 100px;
  padding-bottom: 100px; }

.grow-working-papers-section h2 {
  font-size: 400%; }

/*************************************************************
 * Grow Hero Jumbotron 
 *************************************************************/
.grow-hero-jumbotron {
  min-height: 100vh;
  color: #fff;
  position: relative;
  background: url("/grow.research.series/images/home/hero/hero.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
